<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7ce8fc261.js" crossorigin="anonymous"></script>
</head>
<body>
    <form action="/login" method="post" class="form__login">
        <div>
            <input type="text" name="nombreDeUsuari@" id="nombreDeUsuario-L" class="login__ndu" placeholder="Nombre de Usuari@">
        </div>
        <div>
            <input type="password" name="contraseña" id="contraseña-L" class="login__contraseña" placeholder="Elegí tu contraseña">
        </div>
        <div>
            <input type="submit" value="Enviar" class="login__enviar">
        </div>
    </form>
</body>
</html>