<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7ce8fc261.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section class="initHeader">
            <div class="logoMercadoLiebre">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>
            <div class="barraDeBusqueda">
                <input type="text" placeholder="Buscar productos, marcas" class="barraDeBusqueda__Input">
                <button class="barraDeBusqueda__Btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="compraEn">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>
        <nav class="navegador">
            <nav class="nav-1">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="nav-2">
                <ul>
                    <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="Banner Mercado Liebre">
        </div>
    </header>
    <main>
        <form action="/login" method="post">
            <div class="container">
                <div class="container__box">
                    <div class="logo__register"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></div>
                    <div class="form__register">
                        <div class="form__select"><input type="text" placeholder="Nombre de Usuario" required oninput="check__name(this)"></div>
                        <div class="form__select"><input type="password" placeholder="Contraseña" required oninput="check__password(this)"></div>
                        <div class="btn__login"><input type="submit" value="Enviar"></div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <section class="conTarjeta">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago, ¡Y siempre es seguro!</p>
        </section>
        <section class="envioGratis">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="seguridadDe">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvélo! En Mercado Liebre, no hay nada que no puedas hacer, porque estpas siempre protegid@</p>
        </section>
        <section class="copyright">
            <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>  
        </section>
    </footer>
    <script>
        function check__password(input){
    if(input.value.length <= 8){
        input.setCustomValidity('Su contraseña debe tener al menos 8 carácteres')
    }
    else{
        input.setCustomValidity('')
    }
}
function check__name(input){
    if(input.value.length < 2){
        input.setCustomValidity('Su nombre debe tener al menos 2 carácteres')
    }
    else{
        input.setCustomValidity('')
    }
}
    </script>
</body>
</html>