*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}img{
    max-width: 100%;
}
body{
    font-size: 12px;
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
}
main{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
footer{
    text-align: center;
    margin: 25px;
}
.logoMercadoLiebre{
    width: 40%;
    padding: 15px;
}
.barraDeBusqueda__span{
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 150px;
    padding: 2px;
    display: inline-block;
    margin-left: 10px;
}
.barraDeBusqueda__span-i{
    background-color: #fff;
    border: 1px solid #000;
    width: 18px;
    padding: 2px;
    display: block;
    text-align: center;
    margin: 1px 0px 10px 10px;
}
.compraEn{
    text-align: center;
    margin-bottom: 10px;
}
.navegador ul li a{
    text-decoration: none;
    color: #000;
}
.navegador ul{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fa-address-card, .fa-arrow-right-to-bracket, .fa-basket-shopping{
    margin-left: 2px;
}
.burger-menu{
    margin: 10px;
    background-color: #1259c3;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;
    width: 38px;
    margin: auto;
    text-align: center;
}
.basadoEnTuUltimaVisita h3, .ofertas h3{
    font-size: 24px;
}
.basadoEnTuUltimaVisita article, .ofertas__article{
    margin: 10px;
    background-color: #fff;
}
.basadoEnTuUltimaVisita__article div, .ofertas__article div{
    border: 1px solid #ebebeb;
    text-align: left;
    padding: 15px;
}
.basadoEnTuUltimaVisita__article div i, .ofertas__article div i{
    color: #33bd58;
    margin-bottom: 15px;
    font-size: 15px;
}
.basadoEnTuUltimaVisita__article-precio, .ofertas__article-precio{
    font-size: 18px;
}
.basadoEnTuUltimaVisita__article-descuento, .ofertas__article-descuento{
    font-size: 16px;
    color: #33bd58;
}
.basadoEnTuUltimaVisita__article-descripcion, .ofertas__article-descripcion{
    font-size: 16px;
    margin-top: 15px;
    color: #666;
}
.conTarjeta, .envioGratis, .seguridadDe, .copyright{
    margin-top: 20px;
    margin-bottom: 20px;
}
.conTarjeta i, .envioGratis i, .seguridadDe i{
    font-size: 2em;
    color: #1259c3;
}
