*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}img{
    max-width: 100%;
}
body{
    font-size: 12px;
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
}
main{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
footer{
    text-align: center;
    margin: 25px;
}
.initHeader{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: baseline;
}
.logoMercadoLiebre{
    width: 40%;
}
.compraEn{
    text-align: center;
    margin-top: 20px;
}
.navegador ul li a{
    text-decoration: none;
    color: #000;
}
.navegador ul{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fa-address-card, .fa-arrow-right-to-bracket, .fa-basket-shopping{
    margin-left: 2px;
}
.barraDeBusqueda{
    position: relative;
}
.barraDeBusqueda__Input{
    padding: 6px;
    border: 0;
    outline: none;
    border-radius: 5px 0 0 5px;
    width: 85%;
}
.barraDeBusqueda__Btn{
    background-color: #fff;
    color: #666;
    padding: 6px;
    position: absolute;
    border: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
}
.burger-menu{
    margin: 10px;
    background-color: #1259c3;
    color: #fff;
    padding: 8px;
    font-size: 20px;
    border-radius: 6px;
    width: 38px;
    margin: auto;
    text-align: center;
    display: none;
    margin-bottom: 15px;
}
.banner img{
    width: 100%;
    margin-bottom: -3px;
}
.basadoEnTuUltimaVisita, .ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.basadoEnTuUltimaVisita h3, .ofertas h3{
    font-size: 24px;
    width: 100%;
    margin: 15px
}
.basadoEnTuUltimaVisita__article, .ofertas__article{
    background-color: #fff;
    width: 38vw;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.basadoEnTuUltimaVisita__article div, .ofertas__article div{
    border: 1px solid #ebebeb;
    text-align: left;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}
.basadoEnTuUltimaVisita__article div i, .ofertas__article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}
.basadoEnTuUltimaVisita__article-precio, .ofertas__article-precio{
    font-size: 18px;
    width: 30%;
    margin-top: 15px;
}
.basadoEnTuUltimaVisita__article-descuento, .ofertas__article-descuento{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    text-align: center;
}
.basadoEnTuUltimaVisita__article-descripcion, .ofertas__article-descripcion{
    font-size: 16px;
    color: #666;
    width: 100%;
    margin-top: 15px;
}
.conTarjeta, .envioGratis, .seguridadDe, .copyright{
    margin-top: 20px;
    margin-bottom: 20px;
}
.conTarjeta i, .envioGratis i, .seguridadDe i{
    font-size: 2em;
    color: #1259c3;
}
@media (max-width : 768px){
    .basadoEnTuUltimaVisita__article div, .ofertas__article div{
        display: none;
    }
    body{
        box-shadow: none;
    }
    nav{
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .ofertas__article, .basadoEnTuUltimaVisita__article{
        width: 100%;
    }
    .logoMercadoLiebre{
        width: 50%;
    }
    .barraDeBusqueda{
        width: 50%;
    }
    .compraEn{
        width: 100%;
    }
}
@media (min-width : 768px){
    
}
@media (min-width : 992px){
    .ofertas__article, .basadoEnTuUltimaVisita__article{
        width: 20vw;
    }
}