*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}img{
    max-width: 100%;
}
body{
    font-size: 12px;
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
}
main.home{
    text-align: center;
    width: 90%;
    text-align: center;
    margin: auto;
}
footer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.initHeader{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.logoMercadoLiebre{
    width: 33%;
}
.compraEn{
    width: 33%;
}
.barraDeBusqueda{
    position: relative;
    width: 33%;
}
.barraDeBusqueda__Input{
    padding: 6px;
    border: 0;
    outline: none;
    border-radius: 5px 0 0 5px;
    width: 80%;
}
.barraDeBusqueda__Btn{
    background-color: #fff;
    color: #666;
    padding: 6px;
    position: absolute;
    border: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
}
.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navegador ul li a{
    text-decoration: none;
    color: #000;
}
.navegador ul{
    list-style-type: none;
    display: flex;
}
.navegador ul li{
    margin: 25px;
}
.navegador .nav-1{
    display: flex;
    align-items: start;
}
.navegador .nav-2{
    display: flex;
    align-items: end;
}
.fa-address-card, .fa-arrow-right-to-bracket, .fa-basket-shopping{
    margin-left: 2px;
}
.burger-menu{
    margin: 10px;
    background-color: #1259c3;
    color: #fff;
    padding: 8px;
    font-size: 20px;
    border-radius: 6px;
    width: 38px;
    margin: auto;
    text-align: center;
    display: none;
    margin-bottom: 15px;
}
.banner img{
    margin-bottom: -3px;
    width: 100%;
}
.basadoEnTuUltimaVisita, .ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.basadoEnTuUltimaVisita h3, .ofertas h3{
    font-size: 24px;
    width: 100%;
    margin: 15px
}
.basadoEnTuUltimaVisita__article, .ofertas__article{
    background-color: #fff;
    width: 38vw;
    margin: 15px 0px 15px 0px;
    transition: all 450ms;
}
.basadoEnTuUltimaVisita__article:hover , .ofertas__article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    .basadoEnTuUltimaVisita__article-descripcion, .ofertas__article-descripcion{
        visibility: visible;
    }
}
.basadoEnTuUltimaVisita__article div, .ofertas__article div{
    border: 1px solid #ebebeb;
    text-align: left;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}
.basadoEnTuUltimaVisita__article div i, .ofertas__article div i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    transition: transform 450ms;
}
.basadoEnTuUltimaVisita__article div i:hover, .ofertas__article div i:hover{
    transform: rotate(-90deg);
}
.basadoEnTuUltimaVisita__article-precio, .ofertas__article-precio{
    font-size: 18px;
    width: 30%;
    margin-top: 15px;
}
.basadoEnTuUltimaVisita__article-descuento, .ofertas__article-descuento{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    text-align: center;
}
.basadoEnTuUltimaVisita__article-descripcion, .ofertas__article-descripcion{
    font-size: 16px;
    color: #666;
    width: 100%;
    margin-top: 15px;
    visibility: hidden;
}
.conTarjeta, .envioGratis, .seguridadDe, .copyright{
    margin: 10px 0px 10px 0px;
    width: 31%;
}
.conTarjeta i, .envioGratis i, .seguridadDe i{
    font-size: 2em;
    color: #1259c3;
    transition: all 450ms;
}
.conTarjeta i:hover, .envioGratis i:hover, .seguridadDe i:hover{
    color: #000;
}
form .container{
    width: 50%;
    background-color: #979797;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
form .container__box{
    background-color: #ebebeb;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
}
form .logo__register{
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}
form .form__register{
    width: 80%;
    margin: auto;
}
form .form__select input{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin: 7px 0px 7px 0px;
    font-size: 16px;
}
form .form__radio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    font-size: 15px;
    color: #666;
}
form .form__radio input{
    margin: 0px 3px 0px 3px;
}
.form__btns{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
.form__btns div input{
    margin: 0px 10px 0px 10px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}
.btn__login{
    text-align: center;
}
.btn__login input{
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    transition: 450ms;
}
.btn__login input:hover{
    background-color: #0022AA;
    color: #fff;
}
@media (max-width : 768px){
    .basadoEnTuUltimaVisita__article div, .ofertas__article div{
        display: none;
    }
    nav ul li{
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .ofertas__article, .basadoEnTuUltimaVisita__article{
        width: 100%;
    }
    .logoMercadoLiebre, .barraDeBusqueda{
        width: 50%;
    }
    .compraEn, .conTarjeta, .envioGratis, .copyright, .seguridadDe{
        width: 100%;
    }
    form .container{
        width: 90%;
    }
}
@media (min-width : 769px) and (max-width : 991px){
    form .container{
        width: 60%;
    }
}
@media (min-width : 992px){
    .ofertas__article, .basadoEnTuUltimaVisita__article{
        width: 20vw;
    }
}